@import "global.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
  font-family:"Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
/* navbar */
nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: var(--clr-accent-400);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--clr-accent-100);
  background-color: var(--clr-accent-300);
  border-color: var(--clr-accent-300) var(--clr-accent-300) var(--clr-accent-500);
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
}
.navbar-toggler{
  border: 0;
}
.navbar-toggler:focus {
  border: 0;
	box-shadow: 0 0 0 0;
}
.hamburger-inner{
  width:30px !important;
}
.hamburger-inner::after{
  width: 30px;
  bottom:-8px;
}
.hamburger-inner::before{
  width: 30px;
  top: -8px;
}
/* .hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--clr-accent-700) !important;
} */

/* Home */
#home {
  
  height: 100vh;
  width: 100%;
  color: white;
}
#home .home-container {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  background-image: linear-gradient(
      rgba(233, 234, 254, 0.75),
      rgba(233, 235, 254, 0.75)
    ),
    url("../content/background-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home-title {
  color: var(--clr-accent-300); 
  text-shadow: 0px 0px 4px #ffffff;
}
.home-desc {
  font-size: 18px;
  max-width: 520px;
  color: var(--clr-accent-600);
}
.home-img {
  height: 62vh;
}

.btn{
  background-color: var(--clr-accent-500);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(1, 125, 199, 0.3) 0px 0px 0px 3px;
}
.btn-secondary {
  background-color: var(--clr-accent-500);
}
.btn-secondary:hover {
  background-color: var(--clr-accent-600);
}

/* Section Title */
.title-pad {
  padding-right: 0;
  margin-right: 0;
}
.title-div {
  padding-right: 0; 
   
}
.title-div-primary {
  text-align: center;
  background-color: #f0f4fb;
}
.title-div-primary h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 17px;
  position: relative;
  margin-top: 10px;
}
.title-div-primary h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(165, 165, 165);
  bottom: 1px;
  left: calc(50% - 60px);
}
.title-div-primary h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #2F3A8F;
  bottom: 0;
  left: calc(50% - 20px);
}
.title-div-secondary {
  text-align: center;
  font-weight: bolder;
  background-color:#CCD1E4;
}
.title-div-secondary h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 17px;
  margin-bottom: 10px;
  position: relative;
  background-color: #CCD1E4;
  margin-top: 10px;
}
.title-div-secondary h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(54, 54, 54);
  bottom: 1px;
  left: calc(50% - 60px);
}
.title-div-secondary h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #FE7E6D;
  bottom: 0;
  left: calc(50% - 20px);
}
.title-div-first {
  padding-top: 0;
  padding-right: 0;
}

/* Content Section*/
.content-common {
  padding: 10% inherit;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-primary {
  background-color: #f0f4fb;
}
.content-secondary {
  background-color:#CCD1E4;
}

/* What-we-do */
#what-we-do {
  height: auto;
}
#what-we-do .box {
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}
#what-we-do .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}
#what-we-do .box .icon {
  float: left;
}
#what-we-do .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}
#what-we-do .box .icon i:before {
  background: #0c2e8a;
  /* background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%); */
  background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--primary-color) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#what-we-do .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}
#what-we-do .box h4 a {
  color: var(--clr-accent-500);
}
#what-we-do .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}
.description{
  text-align: justify;
  text-justify: inter-word;
}
@media (max-width: 767px) {
  #what-we-do .box .box {
    margin-bottom: 20px;
  }
  #what-we-do .box .icon {
    float: none;
    text-align: start;
    padding-bottom: 15px;
  }
  #what-we-do .box h4,
  #what-we-do .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* Our Goals */
.goals{
  background-color: var(--clr-accent-700);
  padding-top: 5vh;
  position: center;
  width:relative;
}
.card-img-top {
  border-radius: 8px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(47, 58, 143) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(59, 73, 174) 20px -20px;
  height: 190px;
  width: 280px;
}
.goal-card {
  background-color: var(--clr-accent-300);
  border-radius: 9px;
}
.card-title-goal{
  color: var(--clr-accent-500);
}
.card-text{
  text-align: justify;
  text-justify: inter-word;
}

/* library */
.library-desc {
  font-size: 17.8px;
}

.library-img {
  width:456px;
  height: 280px;
  margin: auto;
  border-radius: 10px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(47, 58, 143) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(59, 73, 174) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(65, 80, 193) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(71, 87, 208) 40px -40px;
}

/* team */
.team-img{
  width: 200px; 
  height: 200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Media Query for Mobile Web */
@media (max-width: 527px ){
  .contact-card-div{
    width: 100% !important;
  }
  /* .g-map{
    width: 95% !important; 
  } */
}

/* all section */
.section-title {
  text-align: center;
  padding-bottom: 10px;
}