*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.logo img{
    width: 33%;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* background: none; */
    background-color: black;
    
}
.nav-list{
    width: 70%;
    display: flex;

}

.nav-list li{
    list-style: none;
    padding: 25px 20px;
    text-align: center;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 18px;    
}
.nav-list li a:hover{
    color: grey;
}
.rightNav{
    width: 30%;
    text-align: right;
    padding: 0px 23px;
}

.background{
    background: rgb(0,0,0,0.7) url('./images/banner.jpg');
    background-size: cover;
    background-blend-mode: darken; 
}

/* first section */
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    height:75%;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;

}

.text-big{
    font-size: 50px;
    text-align: left;
}

.text-small{
    font-size: 20px;
    text-align: left;
}
.btn{    
    padding: 8px 20px;
    margin: 11px 55px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    /* padding: 3px 10px; */
    vertical-align: middle;
}

/* section Right */

.section{
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    
}

.paras{
    padding: 0px 19px;
}

.section-left{
    flex-direction: row-reverse;
    /* background-color: grey; */
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}
.thumbnail img{
    border: 5px solid black;
    margin-top: 16px;
}

#goals h1{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

@media only screen and (max-width: 993px) {
    .nav-list {
        flex-direction: column;
    }
    .nav-list li{
        text-align: center;
    }
    .navbar {
        flex-direction: column;
        height: 475px;
        transition: all 0.9s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .logo {
        margin: 0 auto; /* Added margin to center horizontally */
    }
    .btn{
        margin: 10px 10px;
    }
    .logo img {
        width: 100%; /* Set to 100% to fill the container */
        height: auto; /* Maintain aspect ratio */
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        margin: 10%;
        flex-direction: column-reverse;
    }
}



    